.App {
  text-align: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.home-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
}